<f:layout name="Default" />

<f:section name="main">

	<div class="alert alert-info alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h2><f:translate id="mail_status_initialsubscription_head" extensionName="ecom_newsletter_subscription" /></h2>
		<f:translate id="mail_status_initialsubscription_body" extensionName="ecom_newsletter_subscription" arguments="{0: subscription.email}" />
	</div>

</f:section>